* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d2228;
	color: #e1e2e2;
	height: 5rem;
}

.logo {
	color: #e1e2e2;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.5rem;
	margin: 3rem;
}

.navbar-links {
	padding-right: 4rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
	height: 5rem;
}

.navbar-links li {
	list-style: none;
	padding-top: 0.8rem;
}

.navbar-links li a {
	text-decoration: none;
	color: #e1e2e2;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover {
	background-color: #fb8122;
}

.toggle-menu {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
	display: none;
}

.toggle-menu .bar {
	height: 3px;
	width: 100%;
	background-color: #fb8122;
	border-radius: 10px;
}

@media (max-width: 1300px) {
	.toggle-menu {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
		text-align: center;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar ul {
		flex-direction: column;
		width: 100%;
	}

	.navbar-links.active {
		display: flex;
	}
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h1,
h4,
b {
	font-weight: 500;
}

h2 {
	padding: 0.5rem 0 0.8rem 0;
}

section {
	padding-bottom: 2rem;
}

a {
	color: #fb8122;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

#intro,
#intro p {
	text-align: center;
}

p,
li {
	text-align: justify;
}

#intro img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 0.5rem solid #1d2228;
}

#intro,
#skills,
#rExperience,
#education,
#pEmployment,
#projects,
#interests {
	border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
	/*padding: 6rem 40px 6rem 40px;*/
	padding: 40px;
}

#skills ul,
#intro ul {
	list-style: none;
}

#skills li,
#intro li,
#education li {
	display: inline;
}

#rExperience ul {
	list-style: none;
}

#pEmployment ul,
#projects ul {
	list-style-type: square;
	padding-left: 30px;
}

.socials {
	padding: 2rem 0 1rem 0;
}

.socials i {
	font-size: 90px;
	color: #1d2228;
	padding: 0.75rem;
}

.socials i:hover {
	color: #fb8122;
}

.socials a {
	text-decoration: none;
}

#skills i {
	font-size: 70px;
	color: #fb8122;
}

#skills i:hover {
	font-size: 100px;
}

.darkmode {
	background-color: #353e49;
	color: #e1e2e2;
	transition: 0.5s ease-in;
}

.material-icons.md-48 {
	font-size: 36px;
	padding: 0 1rem 0 1rem;
	position: relative;
	top: 8px;
}

.material-icons.md-48:hover {
	cursor: pointer;
}

.documentLinks {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	padding: 0.5rem 0 0.5rem 0;
}

#projects a,
#projects label {
	font-weight: 500;
}

#projects label {
	display: flex;
	justify-content: center;
}
/*Sourced from W3Schools*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #intro {
	padding-top: 9rem;
}
/*^^^^^^^*/

h3 {
	padding-bottom: 0.3rem;
}

.soundcloud,
.smallContainer {
	width: 48%;
	display: inline-block;
	margin: 1%;
}

.smallContainer {
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	height: 15rem;
	overflow: auto;
}

.medContainer {
	width: 98%;
	background-color: rgba(225, 226, 226, 0.8);
}

#rExperience img {
	height: 50px;
	width: auto;
	margin: 1rem 0 1rem 0;
}

#rExperience ul {
	list-style: square;
	padding-left: 30px;
}

.frontEnd {
	background-color: rgba(251, 129, 34, 0.8);
}
.backEnd {
	background-color: rgba(225, 226, 226, 0.8);
}
