* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 6rem;
	width: 100%;
	background-color: #9a031e;
}

h1 {
	text-transform: uppercase;
	font-weight: 500;
}

.logo {
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.25em;
}

.nav-link {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.nav-link a {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
}

.nav-link li {
	list-style: none;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
}

@media screen and (max-width: 900px) {
	body {
		overflow-x: hidden;
	}
	.nav-link {
		position: absolute;
		right: 0px;
		height: 100%;
		width: 40%;
		top: 6rem;
		background-color: #9a031e;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.burger {
		display: block;
		cursor: pointer;
	}
}

.nav-active {
	transform: translateX(0%);
}

.intro {
	text-align: center;
}

.icon {
	height: 200px;
}

.intro,
.skills,
.rExperience,
.education,
.pEmployment {
	border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
	padding: 40px;
}

.skills ul {
	list-style: none;
	padding: 0px;
}

.skills li {
	display: inline;
}

.education li {
	display: inline;
}

.education ul {
	padding: 0px;
}

ul {
	list-style-type: square;
	padding-left: 30px;
}

.skills i {
	font-size: 70px;
	color: #9a031e;
	opacity: 0.8;
}

.darkmode {
	background-color: rgba(0, 0, 0, 0.9);
	color: whitesmoke;
	transition: background-color 0.5s ease-in;
}

a {
	color: #9a031e;
}
